{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block page_title %}calendar{% endblock %}</title>
  <meta charset="utf-8">
  <!--
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />-->
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'calendar/calendar.css' %}">
  <link rel="stylesheet" href="{% static 'calendar/view_article.css' %}">

  <script type="text/javascript" src="{% static 'jquery-1.11.1.min.js' %}"></script>
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'calendar/using-ajax.js' %}"></script>
  <script type="text/javascript" src="{% static 'ajax_csrf.js' %}"></script>
  <script type="text/javascript" src="{% static 'calendar/functions.js' %}"></script>
</head>

<body>
  <div class="container">
    <div class="home">
      <div id="home">
        <a href="{% url 'calendar:article_list' %}">
          <h3>{% block category_name %}우철's 게시판{% endblock %}</h3>
        </a>
      </div>
      <div id="home_auth_button">
{% block home_auth_button %}
      {% if user.is_authenticated %}
        <span>{{ user.username }}님</span>
        <a href="/accounts/logout?next={% url 'calendar:article_list' %}">
          <button id="logout_button">로그아웃</button>
        </a>
      {% endif %}
{% endblock %}
      </div>
    </div>
    <div class="main">
      {% block body %}
      {% endblock body %}
    </div>
  </div>
</body>
</html>